.App {
  text-align: center;
}

.Headshot-container {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid black;
}

.Headshot {
  pointer-events: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (prefers-reduced-motion: no-preference) {
  .Headshot {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Internal-Image{
  height:50%;
  width:70%;
}

.Scrollable-content {
  display: flex;
  height: 100%;
  width: 100%;
  border: 1px solid #000000; /* Optional: for better visibility */
  overflow-y: auto;
  flex-direction: column;
}

.Main-Content{
  display: flex;
  height: calc(100vh - 60px);
  overflow: hidden;
}

.Create-Post{
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start; 
  padding: 10px; 
  gap: 10px; 
}

.Left-content{
  width:200px;
  height: 100vh;
  background-color: #61dafb;
  padding: 20px;
  /* position: fixed; */
  top:60px;
}

.Right-Content{
  flex: 1;
  height: 60%;
  width: 100%;
}
.App-link {
  color: #61dafb;
}

.post{
  display: inline-block;
  border: 1px solid #000000; /* Optional: for better visibility */
}

.post-images{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 16px;
  padding: 16px;
}

.post-images img{
  width: 100%;
  height: auto;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
